@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron" style="margin-top:40px" >


        <div class="container" >
            <div class="row">
                <div class="col-md-6">
                    <h2 style="margin-top: 20px;">ACME Music Store</h2>
              
                    <h3>Welcome!</h3>
                 
                    <h4>
                    Whether you are an expert or a beginner in the field of music. We have everything you need in stock
                    to take your music to the next level.
                    
                    </h4>
                    <br />
                    <h5>
                        Start browsing our great range of products by:
                            
                        <ul>
                            <br />
                            <li>Typing in a desired product name or category in the search bar above and then clicking the "Submit" button.</li>
                            <br />
                            <li>Search our product range by category through clicking the link "Shop by Category" above".</li>
                            <br />
                            <li>Finally, if you click the "Product List" navigation tab above you will get to view and filter all the music products ACME has in stock.</li>
                        </ul>
                    </h5>
                </div>
                <div class="col-md-6">
                    <img src="~/Content/acmelogo.jpg"/>
                </div>
            </div>
        </div>
           


    </div>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />